:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --hover-color: #2196F3;
    --secondary-text-color: #FFFFFF;
    --background-color: #2F303A;
    --background-secondary-color: #FFFFFF;
    --background-third-color: #F5F4FA;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* logo */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--hover-color);
}

.logo span {
    color: var(--main-color);
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
}

/* header */

.header {
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-nav-logo {
    margin-right: 93px;
}

.header-list {
    display: flex;
    align-self: center;
}

.header-list-item {
    list-style-type: none;
    margin-right: 50px;
}
.header-list-item:last-child {
    margin-right: 0;
}

.header-list-item-link {
    color: var(--main-color);
}

.header-list-item-link:hover {
    color: var(--hover-color);
}

.header-link-wrap {
    margin-left: auto;
}

.header-link {
    color: var(--secondary-color);
}

.header-link:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover {
    color: var(--hover-color);
}

.header-link-icon-envelope {
    width: 16px;
    height: 12px;
}

.header-link-icon-smartphone {
    width: 10px;
    height: 16px;
}

/* footer */

.footer {
    background-color: var(--background-color);
    padding: 60px 0;
}

.footer .container {
    display: flex;
}

.footer-adress-wrap {
    margin-right: 70px;
}

.footer-link-logo span {
    color: var(--secondary-text-color);
}

.footer address {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-link-wrap {
    display: flex;
    flex-direction: column;
}

.footer-link-address {
    margin-bottom: 10px;

    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.footer-link-address:last-child {
    margin-bottom: 0;
}

.footer-link-address:hover {
    color: var(--hover-color);
}

.footer address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.social-title {
    padding: 10px 0 0 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--secondary-text-color);
}

/* main  */

/* section hero */

.hero {
    max-width: 1600px;
    margin: 0 auto;

    background-color: var(--background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .container {
    padding: 200px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    max-width: 696px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.hero-btn {
    width: 200px;
    padding: 10px 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: var(--hover-color);
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 5px;
}

.hero-btn:hover {
    cursor: pointer;
}

/* section advantage */

.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantage-list {
    display: flex;
}

.advantage-list-item {
    max-width: 270px;
    margin-right: 30px;

    list-style-type: none;
}

.advantage-list-item:last-child {
    margin-right: 0;
}

.advantage-icon-wrap {
    margin-bottom: 30px;
    text-align: center;
    background-color: var(--background-third-color);
    border-radius: 4px;
    padding: 25px 101px;
}

.advantage-list-item-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.advantage-list-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;   
    color: var(--secondary-color);
}

/* section whatwedo */

.whatwedo {
    padding-bottom: 94px;
}

.whatwedo-list {
    display: flex;
}

.whatwedo-list-item {
    list-style-type: none;
    margin-right: 30px;
}

.whatwedo-list-item:last-child {
    margin-right: 0;
}

/* team */

.team {
    max-width: 1600px;
    padding-bottom: 94px;
    padding-top: 94px;
    margin: 0 auto;
    background-color: var(--background-third-color);
}

.team-list {
    display: flex;
    list-style-type: none;
}

.team-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    margin-right: 30px;
    padding-bottom: 30px;

    background-color: var(--background-secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item:last-child {
    margin-right: 0;
}

.team-list-item-img {
    max-width: 260px;
    margin-bottom: 30px;
}

.team-list-item-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-list-item-text {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.social-list {
    display: flex;
    list-style-type: none;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-link {
    padding: 12px;
}

/* customers */

.customers {
    padding: 94px 0;
}

.customers-list {
    display: flex;
    list-style-type: none;
}

.customers-list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    
    margin-right: 30px;
    width: 170px;
    height: 92px;
}

.customers-list-icon {
    width: 106px;
    height: 60px;
}

.customers-list-item:last-child {
    margin-right: 0;
}

/* portfolio.html  */

.portfolio-cards {
    padding: 94px 0;
}

.portfolio-cards .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-btn-list {
    display: flex;
    margin-bottom: 50px;
}

.portfolio-list-item {
    list-style-type: none;
    margin-right: 30px;
}

.portfolio-list-item:last-child {
    margin-right: 0;
}

.portfolio-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    border: none;
    background-color: var(--background-secondary-color);
    border-radius: 5px;
    padding: 6px 22px;
}

.portfolio-btn:hover {
    background-color: var(--hover-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

/* section portfolio-cards  */

.portfolio-cards-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -30px;
    margin-bottom: -30px;
}

.cards-list-item {
    list-style-type: none;
    border: 1px solid #EEEEEE;
    background-color: var(--background-secondary-color);
    max-width: 370px;
    
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.cards-list-item-img {
    display: block;
}

.card-description-wrap {
    width: 364px;
    padding: 20px 24px;
}

.cards-list-item-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
    color: var(--main-color);
}

.cards-list-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);
}